#10. 데이터 확인

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
drive_path = ('/gdrive/My Drive/colaboratory/')

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(drive_path + 'score.xlsx', index_col='지원번호')

In [5]:
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
"""
데이터 분석 : 데이터 요약 작업
표에서 나타나는 데이터는, 가시적이지 않다. -> 이것을 요약해서 분포 등을 시각적으로 볼 수 있어야지
통계 : 수많은 데이터에 대한 해석
코드 : 데이터 제어
"""

'\n데이터 분석 : 데이터 요약 작업\n표에서 나타나는 데이터는, 가시적이지 않다. -> 이것을 요약해서 분포 등을 시각적으로 볼 수 있어야지\n통계 : 수많은 데이터에 대한 해석\n코드 : 데이터 제어\n'

##데이터프레임 요약 통계

In [7]:
"""
count : 데이터 수 (index 수)
mean : 평군값
std : 표준편치
min : 최소값
25% ~ 75% : 해당 %에 해당하는 값
max : 최댓값
** NaN : 데이터가 비어있음.
"""
df.describe() #숫자 데이터 열에 대해 요약 통계를 나타냄

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

##데이터프레임 구조 확인

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   sw특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [9]:
#행, 열을 튜플로 출력함
df.shape

(8, 9)

In [10]:
df.shape[0]

8

In [11]:
df.shape[1]

9

##데이터 미리보기 (head, tail)

In [12]:
df.head() #기본 5줄을 미리보기

       이름   학교    키  국어  영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [13]:
df.head(0)

Empty DataFrame
Columns: [이름, 학교, 키, 국어, 영어, 수학, 과학, 사회, sw특기]
Index: []

In [14]:
df.tail() #끝에서 5줄을 출력

       이름   학교    키   국어   영어  수학  과학  사회    sw특기
지원번호
4번    서태웅  북산고  187   40   60  70  75  80     NaN
5번    강백호  북산고  188   15   20  10  35  10     NaN
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

In [15]:
df.tail(6)

       이름   학교    키   국어   영어  수학  과학  사회        sw특기
지원번호
3번    송태섭  북산고  168   80   75  70  80  75  Javascript
4번    서태웅  북산고  187   40   60  70  75  80         NaN
5번    강백호  북산고  188   15   20  10  35  10         NaN
6번    변덕규  능남고  202   80  100  95  85  80           C
7번    황태산  능남고  188   55   65  45  40  35      PYTHON
8번    윤대협  능남고  190  100   85  90  95  95          C#

## 데이터프레임 인덱스 확인 (행 구분)

In [16]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

##데이터프레임 열 이름 확인

In [17]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'sw특기'], dtype='object')

In [18]:
df.columns[0]

'이름'

In [19]:
df.columns[-1]

'sw특기'

In [20]:
df.columns[0:4]

Index(['이름', '학교', '키', '국어'], dtype='object')

## 데이터프레임 데이터 확인 (인덱스를 제외한)

In [21]:
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [22]:
df.values[0]

array(['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'], dtype=object)

In [23]:
df.values[0][0]

'채치수'

## 시리즈 확인 (한줄 확인)

In [24]:
df['키']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [25]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [26]:
df['키'].min()

168

In [27]:
df['키'].max()

202

In [28]:
df['키'].mean()

188.0

In [29]:
df['키'].sum()

1504

In [30]:
df['키'].count()

8

In [31]:
df['키'].std()

9.98570406702931

평균, 표준편차, 최소값, 최대값,

25% 50% 75% : 사분위수

=> 분포를 나타낸다

In [32]:
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [33]:
df.describe(include = 'all')

,이름,학교,키,국어,영어,수학,과학,사회,sw특기
count,8,8,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,6
unique,8,2,NaN,NaN,NaN,NaN,NaN,NaN,6
top,채치수,북산고,NaN,NaN,NaN,NaN,NaN,NaN,Python
freq,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,NaN,NaN,188.000000,62.500000,65.625000,66.250000,70.000000,60.625000,NaN
std,NaN,NaN,9.985704,29.519969,26.917533,30.325614,23.754699,32.120032,NaN
min,NaN,NaN,168.000000,15.000000,20.000000,10.000000,35.000000,10.000000,NaN
25%,NaN,NaN,186.250000,40.000000,53.750000,48.750000,51.250000,32.500000,NaN
50%,NaN,NaN,188.000000,67.500000,70.000000,70.000000,77.500000,77.500000,NaN
75%,NaN,NaN,191.750000,82.500000,85.000000,91.250000,87.500000,81.250000,NaN
max,NaN,NaN,202.000000,100.000000,100.000000,100.000000,95.000000,95.000000,NaN

In [34]:
df['학교'].unique() #종류 확인

array(['북산고', '능남고'], dtype=object)

In [35]:
df['학교'].nunique() #종류 갯수

2

In [36]:
df['학교'].count()

8

In [37]:
df['학교'].value_counts()

북산고    5
능남고    3
Name: 학교, dtype: int64

In [38]:
df['학교'].value_counts()['북산고']

5

In [39]:
df['학교'].value_counts()['능남고']

3

In [40]:
df_학교범주 = df['학교'].value_counts()

In [41]:
df_학교범주

북산고    5
능남고    3
Name: 학교, dtype: int64

In [42]:
df_학교범주['북산고']

5