<a href="https://colab.research.google.com/github/Moon-Miofa/Pandas_Studying-23.03.28-/blob/main/11%EC%9E%A5_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%84%A0%ED%83%9D(%EA%B8%B0%EB%B3%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#11. 데이터선택(기본)

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
drive_path = '/gdrive/My Drive/colaboratory/'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(drive_path + 'score.xlsx', index_col = '지원번호')

In [ ]:
df

       이름    학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수   북산고  197   90   85  100  95  85      Python
2번    정대만   북산고  184   40   35   50  55  25        Java
3번    송태섭   북산고  168   80   75   70  80  75  Javascript
4번    서태웅   북산고  187   40   60   70  75  80         NaN
5번    강백호   북산고  188   15   20   10  35  10         NaN
6번    변덕규   능남고  202   80  100   95  85  80           C
7번    황태산   능남고  188   55   65   45  40  35      PYTHON
8번    윤대협   능남고  190  100   85   90  95  95          C#

##열 이름 선택

In [ ]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [ ]:
df['키'] #한줄 = 시리즈 표현

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [ ]:
df[['이름', '키']] #두줄 이상은 데이터프레임

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188
6번    변덕규  202
7번    황태산  188
8번    윤대협  190

In [ ]:
df[['키']]  #이렇게 하면 한줄도 데이터프레임

        키
지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190

In [ ]:
type(df[['키']])

pandas.core.frame.DataFrame

##df.columns

In [ ]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'sw특기'], dtype='object')

In [ ]:
df.columns[0]

'이름'

In [ ]:
df.columns[2]

'키'

In [ ]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [ ]:
df[df.columns[0]]

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [ ]:
df[df.columns[-1]]

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: sw특기, dtype: object

## 슬라이싱 (행간 인덱스 이용)

In [ ]:
df['1번'] #이 경우 열 이름으로 생각하기에..

KeyError: ignored

In [ ]:
df['1번':'5번'] #근데 이건 또 됨...

       이름    학교    키  국어  영어   수학  과학  사회        sw특기
지원번호
1번    채치수   북산고  197  90  85  100  95  85      Python
2번    정대만   북산고  184  40  35   50  55  25        Java
3번    송태섭   북산고  168  80  75   70  80  75  Javascript
4번    서태웅   북산고  187  40  60   70  75  80         NaN
5번    강백호   북산고  188  15  20   10  35  10         NaN

=> 행간 인덱스는 이런 방식을 사용하지 말고, 12장에서 배울 내용으로 사용하자.

In [ ]:
df['영어']

지원번호
1번     85
2번     35
3번     75
4번     60
5번     20
6번    100
7번     65
8번     85
Name: 영어, dtype: int64

In [ ]:
df['영어']['1번':'5번']

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [ ]:
df['영어'][0:5]

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [ ]:
df[['이름','키']]

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188
6번    변덕규  202
7번    황태산  188
8번    윤대협  190

In [ ]:
df[['이름','키']]['1번':'5번']

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188

In [ ]:
df[['이름','키']][0:5] #자료가 6개가 아니라 5개가 나온다.

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188

In [ ]:
df['3번':]

       이름    학교    키   국어   영어  수학  과학  사회        sw특기
지원번호
3번    송태섭   북산고  168   80   75  70  80  75  Javascript
4번    서태웅   북산고  187   40   60  70  75  80         NaN
5번    강백호   북산고  188   15   20  10  35  10         NaN
6번    변덕규   능남고  202   80  100  95  85  80           C
7번    황태산   능남고  188   55   65  45  40  35      PYTHON
8번    윤대협   능남고  190  100   85  90  95  95          C#