#12. 데이터선택(loc)

loc : location, 행 index, 열 index 이름을 이용해서 데이터를 선택할 때

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [4]:
drive_path = '/gdrive/My Drive/colaboratory/'

In [5]:
import pandas as pd

In [8]:
df = pd.read_excel(drive_path + 'score.xlsx',index_col = '지원번호')

In [9]:
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [10]:
df.loc['1번']

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
sw특기    Python
Name: 1번, dtype: object

In [11]:
df.loc['5번']

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
sw특기    NaN
Name: 5번, dtype: object

In [13]:
df.loc['5번']['이름':'키']

이름    강백호
학교    북산고
키     188
Name: 5번, dtype: object

In [15]:
#행 index와 열 index의 만나는 값을 간단하게 불러올 수 있다.
df.loc['1번','이름']

'채치수'

In [16]:
df.loc[['1번', '5번', '7번']]

       이름   학교    키  국어  영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
5번    강백호  북산고  188  15  20   10  35  10     NaN
7번    황태산  능남고  188  55  65   45  40  35  PYTHON

In [17]:
df.loc[['1번', '5번', '7번'],['이름', '학교', '수학']]

       이름   학교   수학
지원번호
1번    채치수  북산고  100
5번    강백호  북산고   10
7번    황태산  능남고   45

In [18]:
df.loc['2번':'5번']

       이름   학교    키  국어  영어  수학  과학  사회        sw특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript
4번    서태웅  북산고  187  40  60  70  75  80         NaN
5번    강백호  북산고  188  15  20  10  35  10         NaN

In [20]:
#열과 행에 대해 모두 슬라이싱이 가능하다.
df.loc['2번':'5번', '국어':'사회']

      국어  영어  수학  과학  사회
지원번호
2번    40  35  50  55  25
3번    80  75  70  80  75
4번    40  60  70  75  80
5번    15  20  10  35  10

In [21]:
df = pd.read_excel(drive_path + 'score.xlsx')

In [22]:
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        sw특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [23]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [25]:
df['이름'][0:5]

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
Name: 이름, dtype: object

In [27]:
df.loc[0:4]

  지원번호   이름   학교    키  국어  영어   수학  과학  사회        sw특기
0   1번  채치수  북산고  197  90  85  100  95  85      Python
1   2번  정대만  북산고  184  40  35   50  55  25        Java
2   3번  송태섭  북산고  168  80  75   70  80  75  Javascript
3   4번  서태웅  북산고  187  40  60   70  75  80         NaN
4   5번  강백호  북산고  188  15  20   10  35  10         NaN

→loc를 사용하지않은 슬라이싱 : 범위가 인덱스

→loc를 사용한 슬라이싱 : 명시된 인덱스를 보이는 그대로

In [29]:
#원본이 아니라 슬라이싱을 통한 복제본이 나왔다.
df.loc[:]

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        sw특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [33]:
df.loc[:, :]

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        sw특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [35]:
df.loc[:, :'사회']

  지원번호   이름   학교    키   국어   영어   수학  과학  사회
0   1번  채치수  북산고  197   90   85  100  95  85
1   2번  정대만  북산고  184   40   35   50  55  25
2   3번  송태섭  북산고  168   80   75   70  80  75
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80
6   7번  황태산  능남고  188   55   65   45  40  35
7   8번  윤대협  능남고  190  100   85   90  95  95

In [37]:
#loc는 명시적인 '이름'으로 설정할 수 있다. // 숫자는 불가능
df.loc[:, :-2]

TypeError: ignored