#13. 데이터선택(iloc)

iloc : index location (암묵적인 위치 주소로 데이터를 선택하는 방법)

    integer location으로도 불림

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
drive_path = '/gdrive/My Drive/colaboratory/'

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(drive_path + 'score.xlsx', index_col = '지원번호')

In [5]:
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [7]:
df.iloc[0]

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
sw특기    Python
Name: 1번, dtype: object

In [9]:
df.iloc[[0, 3, 5]]

       이름   학교    키  국어   영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197  90   85  100  95  85  Python
4번    서태웅  북산고  187  40   60   70  75  80     NaN
6번    변덕규  능남고  202  80  100   95  85  80       C

In [11]:
df.iloc[[0, 3, 5], 0]

지원번호
1번    채치수
4번    서태웅
6번    변덕규
Name: 이름, dtype: object

In [12]:
df.iloc[[0, 3, 5], [0, 2, 4]]

       이름    키   영어
지원번호
1번    채치수  197   85
4번    서태웅  187   60
6번    변덕규  202  100

In [13]:
df.iloc[0:4]

       이름   학교    키  국어  영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN

In [14]:
df.iloc[:4]

       이름   학교    키  국어  영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN

In [16]:
df.iloc[:4, 2:]

        키  국어  영어   수학  과학  사회        sw특기
지원번호
1번    197  90  85  100  95  85      Python
2번    184  40  35   50  55  25        Java
3번    168  80  75   70  80  75  Javascript
4번    187  40  60   70  75  80         NaN

In [18]:
df.iloc[:, -1]

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: sw특기, dtype: object

In [17]:
df.iloc[:, :-1]

       이름   학교    키   국어   영어   수학  과학  사회
지원번호
1번    채치수  북산고  197   90   85  100  95  85
2번    정대만  북산고  184   40   35   50  55  25
3번    송태섭  북산고  168   80   75   70  80  75
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80
7번    황태산  능남고  188   55   65   45  40  35
8번    윤대협  능남고  190  100   85   90  95  95

iloc → 암묵적으로 정해진 '숫자'인덱스로 슬라이싱