#14. 데이터선택(조건)

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
drive_path = '/gdrive/My Drive/colaboratory/'

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(drive_path + 'score.xlsx', index_col='지원번호')

In [5]:
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df['키'] >= 185

지원번호
1번     True
2번    False
3번    False
4번     True
5번     True
6번     True
7번     True
8번     True
Name: 키, dtype: bool

#논리값(참, 거짓)을 이용해서 데이터 선택

In [8]:
#2번, 3번은 보이지 않는다. → False의 값은 가져오지 않는다.
df.loc[[True, False, False, True, True, True, True, True]]

       이름   학교    키   국어   영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
4번    서태웅  북산고  187   40   60   70  75  80     NaN
5번    강백호  북산고  188   15   20   10  35  10     NaN
6번    변덕규  능남고  202   80  100   95  85  80       C
7번    황태산  능남고  188   55   65   45  40  35  PYTHON
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [10]:
#조건 참조가 가능
df.loc[df['키'] >= 185]

       이름   학교    키   국어   영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
4번    서태웅  북산고  187   40   60   70  75  80     NaN
5번    강백호  북산고  188   15   20   10  35  10     NaN
6번    변덕규  능남고  202   80  100   95  85  80       C
7번    황태산  능남고  188   55   65   45  40  35  PYTHON
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [15]:
#대괄호로 표시하면 1개의 행에 대해서도 데이터프레임으로 가져온다.
df.loc[df['키'] >=185, ['이름']]

       이름
지원번호
1번    채치수
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협

In [16]:
df.loc[df['키'] >= 185, ['이름', '키', '학교']]

       이름    키   학교
지원번호
1번    채치수  197  북산고
4번    서태웅  187  북산고
5번    강백호  188  북산고
6번    변덕규  202  능남고
7번    황태산  188  능남고
8번    윤대협  190  능남고

In [17]:
df.loc[df['키'] >= 185, '국어':'사회']

       국어   영어   수학  과학  사회
지원번호
1번     90   85  100  95  85
4번     40   60   70  75  80
5번     15   20   10  35  10
6번     80  100   95  85  80
7번     55   65   45  40  35
8번    100   85   90  95  95

##조건 연결 : &, and 조건, 단일 조건들이 모두 맞아야 전체가 참인 경우

In [22]:
(df['키'] >= 185) & (df['키'] < 200)

지원번호
1번     True
2번    False
3번    False
4번     True
5번     True
6번    False
7번     True
8번     True
Name: 키, dtype: bool

In [27]:
#괄호로 단일 조건을 나누지 않으면 에러
df.loc[df['키'] >= 185 & df['키'] < 200]

ValueError: ignored

In [28]:
df.loc[(df['키']>=185) & (df['키'] < 200)]

       이름   학교    키   국어  영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197   90  85  100  95  85  Python
4번    서태웅  북산고  187   40  60   70  75  80     NaN
5번    강백호  북산고  188   15  20   10  35  10     NaN
7번    황태산  능남고  188   55  65   45  40  35  PYTHON
8번    윤대협  능남고  190  100  85   90  95  95      C#

In [29]:
df.loc[(df['키']>=185) & (df['학교'] == '북산고')]

       이름   학교    키  국어  영어   수학  과학  사회    sw특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
4번    서태웅  북산고  187  40  60   70  75  80     NaN
5번    강백호  북산고  188  15  20   10  35  10     NaN

##조건 연결 : | or조건, 단일 조건 중 하나라도 참이면 연결 조건 전체가 참인 경우

In [30]:
#키가 175보다 작다 (또는, or) 키가 200보다 큰 경우
(df['키']  <175) | (df['키'] > 200)

지원번호
1번    False
2번    False
3번     True
4번    False
5번    False
6번     True
7번    False
8번    False
Name: 키, dtype: bool

In [31]:
df['키']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [32]:
df.loc[(df['키']  <175) | (df['키'] > 200)]

       이름   학교    키  국어   영어  수학  과학  사회        sw특기
지원번호
3번    송태섭  북산고  168  80   75  70  80  75  Javascript
6번    변덕규  능남고  202  80  100  95  85  80           C

In [33]:
df['sw특기']

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: sw특기, dtype: object

In [45]:
(df['sw특기'] == 'Java') | (df['sw특기'] == 'C')

지원번호
1번    False
2번     True
3번    False
4번    False
5번    False
6번     True
7번    False
8번    False
Name: sw특기, dtype: bool

In [46]:
df.loc[(df['sw특기'] == 'Java') | (df['sw특기'] == 'C')]

       이름   학교    키  국어   영어  수학  과학  사회  sw특기
지원번호
2번    정대만  북산고  184  40   35  50  55  25  Java
6번    변덕규  능남고  202  80  100  95  85  80     C