<a href="https://colab.research.google.com/github/Moon-Miofa/Pandas_Studying-23.03.28-/blob/main/3%EC%9E%A5_%ED%8A%9C%ED%94%8C(tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3.튜플(Tuple)

튜플은 리스트와 거의 비슷하며 다른 점은 다음과 같다.

리스트는 []로 둘렀싸지만, 튜플은 ()로 둘러싼다.

리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

즉, 튜플의 요소값은 한 번 정하면 지우거나 변경할 수 없다.

리스트는 기능이 비교적 많고 복잡하다. -> 용량이 많아진다.

원시데이터(raw data)에서 용량차이가 난다.

기능을 사용하지 않는다면, 튜플의 경우가 용량이 적고, 메모리의 부담이 적다.

메모리 부담의 차이로 속도의 차이가 나지만, 체감할 정도는 아니고, 시스템적 속도의 차이이다.

튜플은 값을 변경하지 않을 경우,(RGB값 등)에 사용할 때 적합하다.

In [ ]:
t1 = ()
t1

()

In [ ]:
t1 = (1,) #튜플은 자료가 하나일 때 ','를 사용해 값이 1개인 튜플임을 명시한다.
t1

(1,)

In [ ]:
t2 = (1, 2, 3, 4, 5)
t2

(1, 2, 3, 4, 5)

In [ ]:
t3 = (1, 2, 3, (4, 5, 6))
t3

(1, 2, 3, (4, 5, 6))

In [ ]:
t4 = (1, 2, 3, (4, 5, 6, (7, 8, 9)))
t4 #리스트와 같이 중첩할 수 있다.

(1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [ ]:
t4[2]

3

In [ ]:
t4[3]

(4, 5, 6, (7, 8, 9))

In [ ]:
t4[3][2]

6

## 튜플 값을 삭제하거나 수정하려고 할 때

In [ ]:
del t4[1]

TypeError: ignored

In [ ]:
t4[1] = 3

TypeError: ignored

In [ ]:
t4[:5]

(1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [ ]:
t5 = (100, 200, 300)

In [ ]:
t3 + t5

(1, 2, 3, (4, 5, 6), 100, 200, 300)

In [ ]:
t3 * 3

(1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6))

In [ ]:
len(t3)

4