<a href="https://colab.research.google.com/github/Moon-Miofa/Pandas_Studying-23.03.28-/blob/main/5%EC%9E%A5_%EB%B0%98%EB%B3%B5%EB%AC%B8%EA%B3%BC_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5장 반복문과 조건문 → 제어문

## 반복문 (for 반복문만)

반복 : loop, iteration
     
     for 반복문 = 반복 횟수가 정해져있음
     while 반복문 = 반복 횟수가 명확하지 않으면서, 반복을 수행해야 할 때

반복문과 문자열 데이터

In [ ]:
'인천대학교 하계 소프트웨어 특강 파이썬 데이터 분석 시작하기'

'인천대학교 하계 소프트웨어 특강 파이썬 데이터 분석 시작하기'

In [ ]:
s = '인천대학교 하계 소프트웨어 특강 파이썬 데이터 분석 시작하기'

In [ ]:
s[0]

'인'

In [ ]:
s[1]

'천'

In [ ]:
for ch in s:
  print(ch)

인
천
대
학
교

하
계

소
프
트
웨
어

특
강

파
이
썬

데
이
터

분
석

시
작
하
기

In [ ]:
for A in '인천대학교 하계 소프트웨어 특강 파이썬 데이터 분석 시작하기': 
           #보통 뒤에 오는 데이터는 그룹 데이터
  print(A)

인
천
대
학
교

하
계

소
프
트
웨
어

특
강

파
이
썬

데
이
터

분
석

시
작
하
기

In [ ]:
for idx in range(33):
  print(idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [ ]:
for idx in range(len(s)):
  print(s[idx])

인
천
대
학
교

하
계

소
프
트
웨
어

특
강

파
이
썬

데
이
터

분
석

시
작
하
기

반복문과 리스트

In [ ]:
for num in [10, 20, 30, 40, 50, 60, 70]:
  print(num*10)

100
200
300
400
500
600
700

In [ ]:
ls = [10, 20, 30, 40, 50, 60, 70]

In [ ]:
for idx in range(7):
  print(ls[idx])

10
20
30
40
50
60
70

In [ ]:
for idx in range(len(ls)):
  #리스트가 매우 길다면, len을 활용해 끝을 지정해준다
  print(ls[idx])

10
20
30
40
50
60
70

In [ ]:
total = 0

for idx in range(len(ls)): #혹은 for num in ls:
  total = total + ls[idx]  #      total = total + num 

print(total)

280

반복문과 튜플

In [ ]:
for num in (10, 20, 30, 40, 50):
  print(num)

10
20
30
40
50

In [ ]:
total = 0
for num in (10, 20, 30, 40, 50):
  total = total + num

In [ ]:
total

150

In [ ]:
tp = (10, 20, 30, 40, 50)

In [ ]:
total = 0
for num in range(len(tp)):
  total = total + num

In [ ]:
total

10

In [ ]:
total = 0
for idx in range(len(tp)):
  total = total + tp[idx]

In [ ]:
total

150

반복문과 딕셔너리

In [ ]:
dic = {'이름' : '홍길동', '핸드폰' : '08078528400', '소속' : '인천대학교'}

In [ ]:
dic.keys() #dic.keys() = 딕셔너리의 키(key)값을 리스트 형식으로 출력

dict_keys(['이름', '핸드폰', '소속'])

In [ ]:
for key in dic.keys():
  print(key)

이름
핸드폰
소속

In [ ]:
for key in dic.keys():
  print(dic[key])

홍길동
08078528400
인천대학교

In [ ]:
dic.items() #키(key)와 데이터(value)를 튜플로 묶어, 리스트로 출력

dict_items([('이름', '홍길동'), ('핸드폰', '08078528400'), ('소속', '인천대학교')])

In [ ]:
for items in dic.items():
  print(items)

('이름', '홍길동')
('핸드폰', '08078528400')
('소속', '인천대학교')

In [ ]:
for items in dic.items():
  print(items[0], items[1])
  #튜플 속 0, 1번 자리를 가져온다.

이름 홍길동
핸드폰 08078528400
소속 인천대학교

In [ ]:
for keys, value in dic.items():
    #keys와 value 두 개의 변수에, dic의 key-value 튜플이 자동으로 풀려 저장된다.
  print(key, ':', value)

소속 : 홍길동
소속 : 08078528400
소속 : 인천대학교

##조건문 (선택제어)

비교 연산자 : 같다(==), 보다 크다(>), 보다 작다(<), 이상(>=), 이하(<=), 같지않다(!=)

In [ ]:
# 변수 속에 들어있는 데이터 확인은 비교를 통해 알 수 있다.
data = 100

In [ ]:
data > 50

True

In [ ]:
data < 50

False

In [ ]:
data >=100

True

In [ ]:
data <= 100

True

In [ ]:
data == 100

True

In [ ]:
data != 100

False

##조건문 if

In [ ]:
Weight_Baggage = 50
if Weight_Baggage > 20:
  print('Need to pay extra charge for baggage')

Need to pay extra charge for baggage

In [ ]:
if 1 == 1: # ←의 의미는 if 'true'값이라면 밑을 실행
  print('True')

True

In [ ]:
Weight_Baggage = 10
if Weight_Baggage > 20:# ←가 false이기에 출력값은 없다.
  print('Need to pay extra charge for baggage')

In [ ]:
Weight_Baggage = 10
if Weight_Baggage > 20:
  print('Need to pay extra charge for baggage')
else: # ← if가 false일 경우 시행
  print('Don\'t need to pay extra charge')

Don't need to pay extra charge

리스트에 담긴 숫자에 대해 짝,홀수를 판단하고 각각을 누적합하는 코드를 제작

In [ ]:
Odd_Total = 0
Even_Total = 0
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for idx in range(len(num)):
  mod = num[idx] % 2 #modulis = 나머지
  if mod == 0:
    Even_Total = Even_Total + num[idx]
  else:
    Odd_Total = Odd_Total + num[idx]

print('Odd_Total = ', Odd_Total, ',', 'Even_Total = ', Even_Total)

Odd_Total =  25 , Even_Total =  30

In [ ]:
a = list(map(int, input().split()))

for i in range(1):
    if a[0] > a[1]:print('>')
    if a[0]==a[1]: print('=')
    if a[0] < a[1]: print('<')

1 2 3
<

In [ ]:
a = int(input())

if a//10 > 8: print('A')
elif a//10 == 8: print('B')
elif a//10 == 7: print('C')
elif a//10 == 6: print('D')    
else: print('F')

20
F

In [ ]:
a = int(input())

if a%100 != 0:
    if a%100%4==0: print('1')
else: print('0')

2004
1

In [ ]:
(15-45)%60

30