<a href="https://colab.research.google.com/github/Moon-Miofa/Pandas_Studying-23.03.28-/blob/main/7%EC%9E%A5_DataFrame(%EC%A0%95%ED%98%95_%EB%8D%B0%EC%9D%B4%ED%84%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7. DataFrame

2차원 데이터 (Serises 들의 묶음)

시리즈 : 한줄(열, 행), 1차원 구조

데이터프레임 : 열과 행으로 구성된 2차원 구조, 표, 정형

사전(Dict) 자료구조를 통해 생성

예) 슬램덩크의 주요 인물 8명에 대한 데이터

In [ ]:
"""
가급적이면 모든 열들의 데이터의 갯수가 동일하게 만든다. 
(데이터가 빠지는 경우가 있지만, ''등 공백으로 수를 맞춘다.)
반드시, 하나의 열은 하나의 데이터적 성격(숫자, 문자)을 맞춘다.
데이터의 명확성이 깨질 수 있기에, 일관성있는 데이터 처리를 위해 갯수, 타입을 반드시 맞춰주자!
"""
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고','북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학':[100,50,70,70,10,95,45,90],
    '과학':[95,55,80,75,35,85,40,95],
    '사회':[85,25,75,80,10,80,35,95],
    'sw특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}

In [ ]:
data

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '북산고', ' 북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'sw특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [ ]:
data['이름']

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [ ]:
data['이름'][:3]

['채치수', '정대만', '송태섭']

In [ ]:
data['이름'][7]

'윤대협'

In [ ]:
data['이름'][-1]

'윤대협'

In [ ]:
data['키']

[197, 184, 168, 187, 188, 202, 188, 190]

In [ ]:
data['국어'][0]+data['영어'][0]+data['수학'][0]+data['사회'][0]+data['과학'][0]

455

In [ ]:
data['국어'][1]+data['영어'][1]+data['수학'][1]+data['사회'][1]+data['과학'][1]
#일일히 불러오기가 매우 힘들다

205

In [ ]:
data.keys()

dict_keys(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'sw특기'])

In [ ]:
len(data.keys())

9

In [ ]:
len(data['이름'])

8

In [ ]:
for i in range(len(data['이름'])):
    row_total = data['국어'][i]+data['영어'][i]+data['수학'][i]+data['사회'][i]+data['과학'][i]
    print(data['이름'][i], ':', row_total)

채치수 : 455
정대만 : 205
송태섭 : 380
서태웅 : 325
강백호 : 90
변덕규 : 440
황태산 : 240
윤대협 : 465

##데이터프레임 생성

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)

In [ ]:
#행간 구분이 자동으로 되며, 명시적인 index가 주어진다.
#index의 이름은 역시 변경 가능하다.
df

    이름    학교    키   국어   영어   수학  과학  사회        sw특기
0  채치수   북산고  197   90   85  100  95  85      Python
1  정대만   북산고  184   40   35   50  55  25        Java
2  송태섭   북산고  168   80   75   70  80  75  Javascript
3  서태웅   북산고  187   40   60   70  75  80
4  강백호   북산고  188   15   20   10  35  10
5  변덕규   능남고  202   80  100   95  85  80           C
6  황태산   능남고  188   55   65   45  40  35      PYTHON
7  윤대협   능남고  190  100   85   90  95  95          C#

##데이터 접근

In [ ]:
df['이름']
#시리즈(1차원 데이터)가 출력된다
#기존 dict형은 리스트가 출력되었음

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [ ]:
df['키']

0    197
1    184
2    168
3    187
4    188
5    202
6    188
7    190
Name: 키, dtype: int64

In [ ]:
type(df['키'])

pandas.core.series.Series

In [ ]:
df[['이름', '키']]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

In [ ]:
type(df[['이름','키']])

pandas.core.frame.DataFrame

In [ ]:
df[['과학', '영어', '이름']]
#순서를 바꾸어서도 가져올 수 있다.

   과학   영어   이름
0  95   85  채치수
1  55   35  정대만
2  80   75  송태섭
3  75   60  서태웅
4  35   20  강백호
5  85  100  변덕규
6  40   65  황태산
7  95   85  윤대협

In [ ]:
df['이름':'과학']
#열 이름에 대한 슬라이싱은 당장에는 불가능해 보인다.

TypeError: ignored

In [ ]:
df[0]
#당장 인덱싱은 "열"에 대한 인덱싱만 가능해 보인다.

KeyError: ignored

In [ ]:
df[0:3]
#행에 대한 슬라이싱이 가능해보인다.

    이름   학교    키  국어  영어   수학  과학  사회        sw특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript

In [ ]:
df[['과학', '영어', '이름']][0:3]
#열 호출과 행 인덱싱을 복합적으로 가능해 보인다.

   과학  영어   이름
0  95  85  채치수
1  55  35  정대만
2  80  75  송태섭

##데이터프레임 인덱스 지정

In [ ]:
df = pd.DataFrame(data, index= ['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])

In [ ]:
#기존 인덱싱과 차이점은, 4번까지를 호출하면 4번까지 불러온다.(끝번호 하나를 빼지 않는다.)
df['1번':'4번']

     이름   학교    키  국어  영어   수학  과학  사회        sw특기
1번  채치수  북산고  197  90  85  100  95  85      Python
2번  정대만  북산고  184  40  35   50  55  25        Java
3번  송태섭  북산고  168  80  75   70  80  75  Javascript
4번  서태웅  북산고  187  40  60   70  75  80